<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377500458118-6k14ttgbhhb865u3laaqov81u0nqhqpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377500458118-6k14ttgbhhb865u3laaqov81u0nqhqpj</string>
	<key>API_KEY</key>
	<string>AIzaSyDMqYKnQ3fH13jLSSxt_V3NeTLDpZKJ7So</string>
	<key>GCM_SENDER_ID</key>
	<string>377500458118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vk-edu.2022.ios4.Graal-BMSTU</string>
	<key>PROJECT_ID</key>
	<string>electronicuniversity-20072</string>
	<key>STORAGE_BUCKET</key>
	<string>electronicuniversity-20072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377500458118:ios:e635dc185cbf39283b0507</string>
	<key>DATABASE_URL</key>
	<string>https://electronicuniversity-20072-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>